.band-entry {
    height: 60%;
    width: 95%;
    border-bottom: solid white 2px;
    overflow: hidden;
    margin-right: 10px;
    float: right;
}
.band-entry img {
    width: 45%;
    display: inline-block;
    margin: 5px;
}
.band-entry p {
    width: 45%;
    color: black;
    font-size: 18px;
    margin: 0px;
    text-indent: 2em;
    padding-top: 5%;
    padding-right: 5%;
}
.right-p{
    float: right;
    text-align: left;
}
.left-p {
    float: left;
    text-align: right;
}
.page-title{
    height: 15%;
    width: 100%;
    text-align: center;
    font-size: 35px;
}
.page-title h3 {
    width: 25%;
    border-bottom: 2px solid white;
    margin: auto;
}
a {
    color: orange;
}