
.selected-proj {
    margin: auto;
    width: 65%;
    height: 50%;
    height: 95%;
}
.proj-info {
    max-height: 30%;
    max-width: 80%;
    margin: 20px auto;
    padding: 5px 10px 5px 10px;
    text-align: center;
}
.proj-title {
    font-size: 38px;
    margin: auto;
    padding: 25px 15px 25px 0px;
    text-align: center;
    font-weight: bold;
    color: black;
}
.links {
    margin: auto;
    width: 240px;
    height: 30px;
    margin-top: 5px;
}
.single-links {
    width: 120px;
    height: 30px;
    margin-top: 5px;
    margin: auto;
}
.project-link {
    border: 1pt solid black;
    height: 25px;
    width: 100px;
    font-size: 15px;
    text-align: center;
    background-color: #737373;
    display: inline-block;
    color: white;
    margin: 0 5px 0 5px;

}
.project-link:hover {
    background-color: black;
}

.proj-pic {
    margin: auto;
    width: 80%;
    height: 45%;
    overflow: hidden;
}
.proj-pic img {
    max-width: 90%;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
}
.left-arrow {
    margin-top: 15%;
    float: left;
}
.right-arrow {
    margin-top: 15%;
    float: right;
}
.right-arrow svg {
    height: 55px;
    width: 55px;
    cursor: pointer;
    fill: #737373;
    transition: fill 0.3s ;
    -webkit-transition: fill 0.3s; 
    -moz-transition: fill 0.3s;

}
.right-arrow:hover > svg {
    transition: fill 0.3s ;
    -webkit-transition: fill 0.3s; 
    -moz-transition: fill 0.3s;
    fill: black;
}
.left-arrow svg {
    height: 55px;
    width: 55px;
    cursor: pointer;
    fill: #737373;
    transition: fill 0.3s ;
    -webkit-transition: fill 0.3s; 
    -moz-transition: fill 0.3s;
}
.left-arrow:hover > svg {
    transition: fill 0.3s ;
    -webkit-transition: fill 0.3s; 
    -moz-transition: fill 0.3s;
    fill: black;
}
#circle-container {
    width: 160px;
    height: 50px;
    margin: auto;
    margin-top: 5px;
}
.circle {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: #737373;
    display: inline-block;
    margin: 12px;

}
.circle:hover {
    cursor: pointer;
}
.selected-circ {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    background-color: #cccccc;
    display: inline-block;
    margin: 12px;
}